@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
body {
	background-color: #323232;
	color: #efefef;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 20px;
}

#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	text-transform: uppercase;
	font-size: 24px;
}